<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DonRec</servlet-name>
        <servlet-class>Servlets.DonRec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegVisitas</servlet-name>
        <servlet-class>Servlets.RegVisitas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DonEm</servlet-name>
        <servlet-class>Servlets.DonEm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventosReco</servlet-name>
        <servlet-class>Servlets.EventosReco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inventario</servlet-name>
        <servlet-class>Servlets.Inventario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Acceso_Users</servlet-name>
        <servlet-class>Servlets.Acceso_Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Login</servlet-name>
        <servlet-class>Servlets.User_Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DonRec</servlet-name>
        <url-pattern>/DonRec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegVisitas</servlet-name>
        <url-pattern>/RegVisitas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DonEm</servlet-name>
        <url-pattern>/DonEm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventosReco</servlet-name>
        <url-pattern>/EventosReco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inventario</servlet-name>
        <url-pattern>/Inventario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Acceso_Users</servlet-name>
        <url-pattern>/Acceso_Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Login</servlet-name>
        <url-pattern>/User_Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
