/* 
    Created on : 13/06/2020, 01:19:01 AM
    Author     : karen
*/
.col-sm-9{
    background-color: #ffffff;
    border-radius: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    /*border-style: groove;
    border-radius: 15px;
    border-color:#66cc66;*/
}
#c-ap{
    /*display: none;*/
    text-align:center;
    background-color: #66cc66;
}
#content2{
    display: none;
}
#btn-form,#btn-consult{
    background-color: #66cc66;
    border:none;
}
#giconForm,#giconsult{
    font-size:50px;
    text-align: center;
    color:#ffffff;
}
#headerRV{
    font-size: 25px;
    color:#66cc66;
}
.panel-default{
    border-color:#0738aa;
    border-radius: 2px;
}
.panel-group{
    font-size: 15px;
}
.panel-default > .panel-heading {
    background-color:#dce9fd;
}
#myCarousel{
    background-color:#66cc66;
    padding: 10px;
    
}
