/* 
    Created on : 26/05/2020, 06:31:31 PM
    Author     : karen
*/
.container{
    background-color: #ffffff;
    border-radius: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    border-style: groove;
    border-radius: 15px;
    border-color:#66cc66;
}
#headInv{
    font-size: 25px;
    color:#66cc66;
}
.table{
    border-color:#0738aa;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
}
.table>thead{
    background-color:#dce9fd;
}
.panel-default{
    border-color:#0738aa;
    border-radius: 2px;
}
.panel-group{
    font-size: 15px;
}
.panel-default > .panel-heading {
    background-color:#dce9fd;
}