/* 
    Created on : 27/06/2020, 05:05:27 PM
    Author     : karen
*/

/*.row > .col-sm-3{
    background-color: #66cc66;
}*/
#dUser,#imps,#menu,#valInv,#educ{
    text-align:center;
    background-color: #66cc66;
}
#btn-imps,#btn-vinv,#btn-edu{
    background-color: #66cc66;
    border:none;
}
#gicon,#giconS,#giconCG,#giconVinv,#giconEdc{
    text-align: center;
    color:#ffffff;
}
#gicon,#giconS,#giconVinv,#giconEdc{
    font-size:50px;
}
#giconCG{
    font-size:30px;
}
.col-sm-4{
    background-color: #66cc66;;
}

.col-sm-8{
    background-color: #66cc66;
}
#usuariosr>label{
  display: inline-block;
  width: 100px;
} 
#usuariosr>input{
    height: 1px;
    width: 25px;
}
