/* 
    Created on : 27/06/2020, 05:05:27 PM
    Author     : karen
*/

/*.row > .col-sm-3{
    background-color: #66cc66;
}*/
#dUser,#imps,#menu{
    text-align:center;
    background-color: #66cc66;
}
#gicon,#giconS,#giconCG{
    text-align: center;
    color:#ffffff;
}
#gicon,#giconS{
    font-size:100px;
}
#giconCG{
    font-size:50px;
}
.col-sm-4{
    background-color: #66cc66;;
}

.col-sm-8{
    background-color: #66cc66;
}
#c1,#c2,#c3,#c4,#c5{
    color:#000000;
}
#c2,#c4{
    background-color: #ffffff;
}